:root {
    --title-color: #000;
    --title-font-size: 0.9rem;
    --header-link-font-size: 1rem;
    --header-link-color: #3b3b3b;
    --header-link-hover-color: #000;
    --header-link-border-bottom-color: #3b3b3b;
}

#toc {
    width: 150px;
    position: fixed;
    bottom: 30px;
    left: 20px;
}

@media (max-width: 800px) {
    #toc {
        visibility: hidden;
    }
}

#toc_title-header {
    font-size: var(--title-font-size);
    color: var(--title-color);
    margin-bottom: 10px;
}

.toc_header-link {
    font-size: var(--header-link-font-size);
    color: var(--header-link-color);
    display: inline-block;
    max-width: 100%;
    margin-bottom: 2px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc_header-link:hover {
    color: var(--header-link-hover-color);
}

.toc_header-link:last-child {
    margin-bottom: 0;
}

.toc_header-link-visible {
    height: 2rem;
    border-bottom-width: 0;
    transition-property: height;
    transition: all 0.3s ease-out;
}

.toc_header-link-hidden {
    height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-link-border-bottom-color);
    transition-property: height;
    transition: all 0.2s ease-in;
}
